.catalog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 6rem;
  max-width: 1290px;
  margin: 0 auto;
}

@media (min-width: 991px) {
  .catalog {
    grid-template-columns: repeat(4, 1fr);
  }
}