* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: black;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
  height: 100vh;
}

a {
  text-decoration: none;
}

p {
  display: inline-block;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.container {
  padding: 0 1rem;
}

.no-item {
  color: #a7a7a7;
  font-size: 1.2rem;
  margin: auto;
}